input {
  display: block;
}

ul#messages {
  list-style: none;
}

ul#messages li {
  margin-bottom: 2px;
}

ul#messages li img {
  margin-right: 10px;
}

img {
  width: 50;
  verticalAlign: "middle";
}
